<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClipSupporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"  />
    </sectionGroup>
    <sectionGroup name="PanelGroup">
      <section name="KCPanel" type="ClipSupporter.Config.PanelSection, ClipSupporter"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ApplicationTitle" value="ClipSupporter"/>
    <add key="ApplicationBasePath" value="C:\ClipSupporter"/>
  </appSettings>
  <PanelGroup>
    <KCPanel>
      <Panels>
        <Panel TitleName="Insert文生成" FolderName="hoge" AssemblyName="FunctionLibraryBP" ClassName="FunctionLibraryBP.CreateInsertSQL" AreaXSize="4" AreaYSize="1">
          <Controls>
            <Control ControlClassName="System.Windows.Forms.Button" Text="作成"
                     EventName="Click" EventMethodName="CreateInsertSQLString" XSize="4" YSize="1"/>
          </Controls>
        </Panel>
        <Panel TitleName="ClipBord同期" FolderName="ClipBordShare2" AssemblyName="FunctionLibraryBP" ClassName="FunctionLibraryBP.ClipSharing2" AreaXSize="4" AreaYSize="1">
          <Controls>
            <Control ControlClassName="System.Windows.Forms.Button" Text="Save"
                     EventName="Click" EventMethodName="SaveClipBoard" XSize="4" YSize="1"/>
            <!--<Control ControlClassName="System.Windows.Forms.Button" Text="Load"
                     EventName="Click" EventMethodName="LoadClipBoard" XSize="2" YSize="1"/>-->
          </Controls>
        </Panel>
      </Panels>
    </KCPanel>
  </PanelGroup>
  <userSettings>
    <ClipSupporter.Properties.Settings>
      <setting name="TopMost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DesignColor" serializeAs="String">
        <value>Control</value>
      </setting>
    </ClipSupporter.Properties.Settings>
  </userSettings>
</configuration>