<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipSupporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <sectionGroup name="PanelSections" type="ClipSupporter.Config.PanelConfig, ConfigurationSectionCollection">
        <section name="PanelConfig" type="ClipSupporter.Config.PanelConfig, ClipSupporter"/>
      </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="ApplicationTitle" value="ClipSupporter"/>
      <add key="ApplicationBasePath" value="C:\ClipSupporter"/>
    </appSettings>
  <PanelSections>
    <PanelConfig TitleName="Insert文生成" FolderName="hoge" AssemblyName="ClipSupporter" ClassName="FunctionLibraryBP.CreateInsertSQL" AreaXSize="4" AreaYSize="1">
      <Controls>
        <Control ControlClassName="System.Windows.Forms.Button" Text="作成"
                 EventName="Click" EventMethodName="SaveClipBoard" XSize="4" YSize="1"/>
      </Controls>
    </PanelConfig>
  </PanelSections>
    <userSettings>
        <ClipSupporter.Properties.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesignColor" serializeAs="String">
                <value>Control</value>
            </setting>
        </ClipSupporter.Properties.Settings>
    </userSettings>
</configuration>