<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ClipSupporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="PanelGroup">
      <section name="KCPanel" type="ClipSupporter.Config.PanelSection, ClipSupporter"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="ApplicationTitle" value="ClipSupporter"/>
    <add key="ApplicationBasePath" value="C:\ClipSupporter"/>
  </appSettings>
  <PanelGroup>
    <KCPanel>
      <Panels>
        <Panel TitleName="Insert文生成" FolderName="InsertSQL" AssemblyName="FunctionLibraryBP" ClassName="FunctionLibraryBP.CreateInsertSQL" DividedXSize="4" ExpansionYSize="1">
          <Controls>
            <Control ControlClassName="System.Windows.Forms.Button" EventName="Click" EventMethodName="CreateInsertSQLString">
              <Properties>
                <Property Name="Text" Value="作成"/>
                <Property Name="XPos" Value="0-4"/>
                <Property Name="YPos" Value="0-1"/>
              </Properties>
            </Control>
          </Controls>
        </Panel>
        <Panel TitleName="Decode" FolderName="Decode" AssemblyName="FunctionLibraryBP" ClassName="FunctionLibraryBP.DecodeProccess" DividedXSize="4" ExpansionYSize="1">
          <Controls>
            <Control ControlClassName="System.Windows.Forms.Button" EventName="Click" EventMethodName="HtmlDecode">
              <Properties>
                <Property Name="Text" Value="Html"/>
                <Property Name="XPos" Value="0-1"/>
                <Property Name="YPos" Value="0-1"/>
              </Properties>
            </Control>
            <Control ControlClassName="System.Windows.Forms.Button" EventName="Click" EventMethodName="ReplaceText">
              <Properties>
                <Property Name="Text" Value="\→/"/>
                <Property Name="XPos" Value="1-2"/>
                <Property Name="YPos" Value="0-1"/>
                <Property Name="Tags" Value="\" />
                <Property Name="Tags" Value="/" />
              </Properties>
            </Control>            
          </Controls>
        </Panel>
        <Panel TitleName="ClipBord同期" FolderName="ClipBordShare" AssemblyName="FunctionLibraryBP" ClassName="FunctionLibraryBP.ClipSharing" DividedXSize="4" ExpansionYSize="1">
          <Controls>
            <Control ControlClassName="System.Windows.Forms.Timer" EventName="Tick" EventMethodName="LoadClipBoardAuto">
              <Properties>
                <Property Name="Interval" Value="3000"/>
                <Property Name="Enabled" Value="true"/>
              </Properties>
            </Control>
            <Control ControlClassName="System.Windows.Forms.Button" EventName="Click" EventMethodName="LoadClipBoardManual">
              <Properties>
                <Property Name="BackColor" Value="Orange"/>
                <Property Name="Text" Value="Load"/>
                <Property Name="XPos" Value="0-1"/>
                <Property Name="YPos" Value="0-1"/>
              </Properties>
            </Control>
            <Control ControlClassName="System.Windows.Forms.Button" EventName="Click" EventMethodName="SaveClipBoard">
              <Properties>
                <Property Name="Text" Value="Save"/>
                <Property Name="XPos" Value="1-4"/>
                <Property Name="YPos" Value="0-1"/>
              </Properties>
            </Control>
          </Controls>
        </Panel>
        <Panel TitleName="ファイルメンテ" FolderName="FileMante" AssemblyName="FunctionLibraryBP" ClassName="FunctionLibraryBP.FileProcessing" DividedXSize="4" ExpansionYSize="3">
          <Controls>
            <Control ControlClassName="System.Windows.Forms.ComboBox" EventName="VisibleChanged" EventMethodName="SetMenuList">
              <Properties>
                <!--<Property Name="BackColor" Value="Red"/>-->
                <!--<Property Name="BorderStyle" Value="FixedSingle"/>-->
                <Property Name="XPos" Value="0-4"/>
                <Property Name="YPos" Value="0-1"/>
              </Properties>
            </Control>
            <Control ControlClassName="System.Windows.Forms.Label" EventName="Paint" EventMethodName="SetDragDrop">
              <Properties>
                <Property Name="BackColor" Value="Red"/>
                <Property Name="Text" Value="[ ここにファイルをドラッグ＆ドロップ ]"/>
                <Property Name="AutoSize" Value="False"/>
                <Property Name="AllowDrop" Value="True"/>
                <Property Name="TextAlign" Value="MiddleCenter"/>
                <Property Name="BorderStyle" Value="FixedSingle"/>
                <Property Name="XPos" Value="0-4"/>
                <Property Name="YPos" Value="1-3"/>
              </Properties>
            </Control>
          </Controls>
        </Panel>
        <Panel TitleName="新機能テスト" FolderName="hoge" AssemblyName="FunctionLibraryBP" ClassName="FunctionLibraryBP.FileProcessing" DividedXSize="4" ExpansionYSize="1">
          <Controls>
            <Control ControlClassName="System.Windows.Forms.Label" EventName="Click" EventMethodName="Test">
              <Properties>
                <Property Name="Text" Value="C:\Users\Kenichiro\Desktop\無題のスプレッドシート (1).xlsx"/>
                <Property Name="XPos" Value="0-4"/>
                <Property Name="YPos" Value="0-1"/>
              </Properties>
            </Control>
          </Controls>
        </Panel>
    </Panels>
    </KCPanel>
  </PanelGroup>
  <userSettings>
    <ClipSupporter.Properties.Settings>
      <setting name="TopMost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DesignColor" serializeAs="String">
        <value>GrayText</value>
      </setting>
    </ClipSupporter.Properties.Settings>
  </userSettings>
</configuration>
